In [85]:
# import sys
# import tensorflow.keras
# import tensorflow as tf
# import numpy as np
# print(f"Tensor Flow Version: {tf.__version__}")
# print(f"Keras Version: {tensorflow.keras.__version__}")
# print()
# print(f"Python {sys.version}")
# gpu = len(tf.config.list_physical_devices('GPU'))>0
# print("GPU is", "available" if gpu else "NOT AVAILABLE")
#I used this to run it on my GPU, multiple things are needed for this.

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
import pandas as pd
from sklearn.model_selection import train_test_split
import cv2 as csv
import numpy as np

In [86]:
oil_price = pd.read_csv("C:/Users/lavia/Desktop/machine_learning/data/oil.csv")
oil_price.head()

         Date Symbol   Open   High    Low  Close    Volume Currency
0  2000-01-03    XOM  39.75  40.38  38.94  39.16  13458200      USD
1  2000-01-04    XOM  38.69  39.09  38.25  38.41  14510800      USD
2  2000-01-05    XOM  39.00  40.88  38.91  40.50  17485000      USD
3  2000-01-06    XOM  40.31  42.91  40.09  42.59  19462000      USD
4  2000-01-07    XOM  42.97  43.12  42.00  42.47  16603800      USD

In [87]:
features = ['Open', 'High', 'Low']
y = oil_price.Close
x = oil_price[features]

In [88]:
#train_x, train_y, test_x, test_y = train_test_split(x, y,random_state=1)
#because of non-equal sample size.

In [89]:
from sklearn import linear_model
linear_model = linear_model.Ridge(alpha=0.3)

In [90]:
x.shape

(39201, 3)

In [91]:
y.shape

(39201,)

In [92]:
linear_model.fit(x, y)
linear_model.predict(train_x)

array([ 51.63963706,  62.74135118, 100.52370702, ...,  40.87412306,
        20.67971614,   3.58983857])

In [93]:
score = linear_model.score(x, y)

In [94]:
print('Coefficients: {}\n'.format(repr(linear_model.coef_)))
print('Intercept: {}\n'.format(linear_model.intercept_))
print('Alpha choice: {}\n'.format(linear_model.alpha))
print('score: {}\n'.format(score))

Coefficients: array([-0.57218801,  0.80077155,  0.7713781 ])

Intercept: -0.0012103980594773134

Alpha choice: 0.3

score: 0.9997922895612429